<div  ng-controller="cuentas-controller">

    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><i class="fa fa-industry" aria-hidden="true"></i> Cuentas</li>
    </ol>

    <h2 class="display-4">{{title}}</h2>

    <br/>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h5 class="lead"> <i class="fa fa-list-ol" aria-hidden="true"></i> Listado de Cuentas</h5>
        </div>
        <div class="col-md-2">
            <a href="#/cuentas/new"><button type="button" class="btn btn-secondary pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar nuevo</button></a>
        </div>
        <div class="col-md-2">
            <input ng-model="search_text" ng-change="searchChange()" type="text" class="form-control" id="search" placeholder="Buscar...">
        </div>
    </div>

    <hr>

    <div ng-if="tb_cuentas">
        <table class="table table-bordered table-hover">
        <thead class="thead-inverse">
            <tr>
                <th style="width:15%"><i class="fa fa-asterisk" aria-hidden="true"></i>  ID</th>
                <th><i class="fa fa-asterisk" aria-hidden="true"></i>  Nombre</th>
                <th><i class="fa fa-asterisk" aria-hidden="true"></i>  Número</th>
                <th class="text-sm-center"><i class="fa fa-pencil" aria-hidden="true"></i></th>
                <th class="text-sm-center"><i class="fa fa-trash" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in tb_cuentas">
                <td><p class="lead">{{c.id}}</p></td>
                <td><a href="#/cuentas/detail/{{c.id}}"><p class="lead">{{c.nombre}}</p></a></td>
                <td><p class="lead">{{c.numero}}</p></td>
                <td><a href="#/cuentas/edit/{{c.id}}"><button type="button" class="btn btn-outline-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</button></a></td>
                <td><button type="button" ng-click="delete( $event, c.id )" class="btn btn-outline-danger md-raised"><i class="fa fa-trash" aria-hidden="true"></i> Borrar</button></td>
            </tr>
        </tbody>
        </table>
    </div>

</div>
