<div  ng-controller="tipoproducto-controller">

    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><i class="fa fa-industry" aria-hidden="true"></i> Tipos Producto</li>
    </ol>

    <h2 class="display-4">{{title}}</h2>

    <br/>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h5 class="lead"> <i class="fa fa-list-ol" aria-hidden="true"></i> Listado de Tipos de Producto</h5>
        </div>
        <div class="col-md-2">
            <a href="#/tipoproducto/new"><button type="button" class="btn btn-secondary pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar nuevo</button></a>
        </div>
        <div class="col-md-2">
            <input ng-model="search_text" ng-change="searchChange()" type="text" class="form-control" id="search" placeholder="Buscar...">
        </div>
    </div>

    <hr>

    <div ng-if="tb_tipoproductos">
        <table class="table table-bordered table-hover">
        <thead class="thead-inverse">
            <tr>
                <th style="width:15%"><i class="fa fa-asterisk" aria-hidden="true"></i>  ID</th>
                <th><i class="fa fa-asterisk" aria-hidden="true"></i>  Nombre</th>
                <th><i class="fa fa-asterisk" aria-hidden="true"></i>  Valor</th>
                <th class="text-sm-center"><i class="fa fa-pencil" aria-hidden="true"></i></th>
                <th class="text-sm-center"><i class="fa fa-trash" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="te in tb_tipoproductos">
                <td><p class="lead">{{te.id}}</p></td>
                <td><a href="#/tipoproducto/detail/{{te.id}}"><p class="lead">{{te.name}}</p></a></td>
                <td><p class="lead">{{te.value}}</p></td>
                <td><a href="#/tipoproducto/edit/{{te.id}}"><button type="button" class="btn btn-outline-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</button></a></td>
                <td><button type="button" ng-click="delete( $event, te.id )" class="btn btn-outline-danger md-raised"><i class="fa fa-trash" aria-hidden="true"></i> Borrar</button></td>
            </tr>
        </tbody>
        </table>
    </div>

</div>
