<div ng-controller="proveedores-controller">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/proveedores"><i class="fa fa-industry" aria-hidden="true"></i> Proveedores</a></li>
        <li class="breadcrumb-item active"><i class="fa fa-asterisk" aria-hidden="true"></i> Detalle</li>
    </ol>

    <h2 class="display-3">{{title}}</h2>
    <br/>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h5 class="lead"> <i class="fa fa-asterisk" aria-hidden="true"></i> Detalle de proveedor</h5>
        </div>
        <div class="col-md-5"></div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-danger" role="alert" ng-if="errors">
                <strong>Error al encontrar objecto!</strong> {{errors}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card card-outline-primary mb-3 text-left">
                <div class="card-header text-sm-center lead">
                    Detalle
                </div>

                <div class="card-block">

                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Razón Social</th>
                                <td class="lead">{{proveedor.razon_social}}</td>
                            </tr>
                            <tr>
                                <th>Nombre Comercial</th>
                                <td class="lead">{{proveedor.nombre_comercial}}</td>
                            </tr>
                            <tr>
                                <th>RFC</th>
                                <td class="lead">{{proveedor.rfc}}</td>
                            </tr>
                            <tr>
                                <th>Código de Proveedor</th>
                                <td class="lead">{{proveedor.codigo_proveedor}}</td>
                            </tr>
                            <tr>
                                <th>Permiso SEDENA</th>
                                <td class="lead">{{proveedor.permiso_sedena}}</td>
                            </tr>
                            <tr>
                                <th>Calle</th>
                                <td class="lead">{{proveedor.calle}}</td>
                            </tr>
                            <tr>
                                <th>No. Ext</th>
                                <td class="lead">{{proveedor.no_ext}}</td>
                            </tr>
                            <tr>
                                <th>No. Int</th>
                                <td class="lead">{{proveedor.no_int}}</td>
                            </tr>
                            <tr>
                                <th>Colonia</th>
                                <td class="lead">{{proveedor.colonia}}</td>
                            </tr>
                            <tr>
                                <th>CP</th>
                                <td class="lead">{{proveedor.cp}}</td>
                            </tr>
                            <tr>
                                <th>Localidad</th>
                                <td class="lead">{{proveedor.cp}}</td>
                            </tr>
                            <tr>
                                <th>Ciudad</th>
                                <td class="lead">{{proveedor.ciudad}}</td>
                            </tr>
                            <tr>
                                <th>Estado</th>
                                <td class="lead">{{proveedor.estado}}</td>
                            </tr>
                            <tr>
                                <th>Creado</th>
                                <td class="lead">{{proveedor.timestamp}}</td>
                            </tr>
                            <tr>
                                <th>Modificado</th>
                                <td class="lead">{{proveedor.updated}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group text-sm-left">
                                <a href="#/proveedores">
                                    <button type="button" class="btn btn-danger"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Cancelar</button>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group text-sm-center">
                                <button type="button" ng-click="delete( $event, proveedor.id )" class="btn btn-warning md-raised"><i class="fa fa-minus-circle" aria-hidden="true"></i> Borrar</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group text-sm-right">
                                <a href="#/proveedores/edit/{{proveedor.id}}">
                                    <button type="submit" class="btn btn-info"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
