<div class="col-md-12">
    <div class="form-group">
        <label for="razon_social">Razón Social</label>
        <input
            type="text"
            ng-model="proveedor.razon_social"
            class="form-control"
            name="razon_social"
            required
            placeholder="Razón Social">
    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="nombre_comercial">Nombre Comercial</label>
        <input
            type="text"
            ng-model="proveedor.nombre_comercial"
            class="form-control"
            name="nombre_comercial"
            required
            placeholder="Nombre Comercial">
    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="rfc">RFC</label>
        <input
            type="text"
            ng-model="proveedor.rfc"
            class="form-control"
            name="rfc"
            required
            placeholder="RFC">
    </div>
</div>

<div class="col-md-4">
    <div class="form-group">
        <label for="codigo_proveedor">Código de Proveedor</label>
        <input
            type="text"
            ng-model="proveedor.codigo_proveedor"
            class="form-control"
            name="codigo_proveedor"
            required
            placeholder="Código de Proveedor">
    </div>
</div>

<div class="col-md-8">
    <div class="form-group">
        <label for="permiso_sedena">Permiso SEDENA</label>
        <input
            type="text"
            ng-model="proveedor.permiso_sedena"
            class="form-control"
            name="permiso_sedena"
            required
            placeholder="Periso SEDENA">
    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label for="calle">Calle</label>
        <input
            type="text"
            ng-model="proveedor.calle"
            class="form-control"
            name="calle"
            placeholder="Calle">
    </div>
</div>

<div class="col-md-4">
    <div class="form-group">
        <label for="no_ext">No. Ext</label>
        <input
            type="number"
            ng-model="proveedor.no_ext"
            class="form-control"
            name="no_ext"
            placeholder="No. Ext">
    </div>
</div>

<div class="col-md-4">
    <div class="form-group">
        <label for="no_int">No. Int</label>
        <input
            type="number"
            ng-model="proveedor.no_int"
            class="form-control"
            name="no_int"
            placeholder="No. Int">
    </div>
</div>

<div class="col-md-4">
    <div class="form-group">
        <label for="cp">CP</label>
        <input
            type="text"
            ng-model="proveedor.cp"
            class="form-control"
            name="cp"
            placeholder="CP">
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label for="colonia">Colonia</label>
        <input
            type="text"
            ng-model="proveedor.colonia"
            class="form-control"
            name="colonia"
            placeholder="Colonia">
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label for="localidad">Localidad</label>
        <input
            type="text"
            ng-model="proveedor.localidad"
            class="form-control"
            name="localidad"
            placeholder="Localidad">
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label for="ciudad">Ciudad</label>
        <input
            type="text"
            ng-model="proveedor.ciudad"
            class="form-control"
            name="ciudad"
            required
            placeholder="Ciudad">
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label for="estado">Estado</label>
        <input
            type="text"
            ng-model="proveedor.estado"
            class="form-control"
            name="estado"
            required
            placeholder="Estado">
    </div>
</div>
