<!--- general menu ------->
<ul class="nav nav-pills flex-column">
    <li ng-repeat="mi in snd_menu_items.general" class="nav-item">
        <a class="nav-link {{mi.status}}" href="{{mi.link}}" ng-click="set_menu_state(mi)"><i class="{{mi.icon}}" aria-hidden="true"></i> {{mi.name}}</a>
    </li>
</ul>
<hr>
<!--- objects menu ------->
<ul class="nav nav-pills flex-column">
    <li ng-repeat="mi in snd_menu_items.objects" class="nav-item">
        <a class="nav-link {{mi.status}}" href="{{mi.link}}" ng-click="set_menu_state(mi)"><i class="{{mi.icon}}" aria-hidden="true"></i> {{mi.name}}</a>
    </li>
</ul>
<hr>
<!--- vales menu ------->
<ul class="nav nav-pills flex-column">
    <li ng-repeat="mi in snd_menu_items.vales" class="nav-item">
        <a class="nav-link {{mi.status}}" href="{{mi.link}}" ng-click="set_menu_state(mi)"><i class="{{mi.icon}}" aria-hidden="true"></i> {{mi.name}}</a>
    </li>
</ul>
<hr>
<!--- Reportes menu ------->
<ul class="nav nav-pills flex-column">
    <li ng-repeat="mi in snd_menu_items.reports" class="nav-item">
        <a class="nav-link {{mi.status}}" href="{{mi.link}}" ng-click="set_menu_state(mi)"><i class="{{mi.icon}}" aria-hidden="true"></i> {{mi.name}}</a>
    </li>
</ul>
<hr>
<!--- settings menu ------->
<ul class="nav nav-pills flex-column">
    <li ng-repeat="mi in snd_menu_items.settings" class="nav-item">
        <a class="nav-link {{mi.status}}" href="{{mi.link}}" ng-click="set_menu_state(mi)"><i class="{{mi.icon}}" aria-hidden="true"></i> {{mi.name}}</a>
    </li>
</ul>

<div class="row" ng-include="'../includes/footer.html'"></div>
